img{
    max-width: 100%;
}
div{
    width: calc(30% - 30px) ;
    float: left;
    margin: 15px ;
    padding: 15px;
    background-color: bisque;
    box-sizing: border-box;
    border: 1px solid cadetblue;
    border-radius: 6px;
    box-shadow: 10px 10px 15px darkgrey;
    transition: all 100ms;
    text-align: center;
}
div:hover{
    transform: scaleY(120%);
    background-color: burlywood;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
a{
    text-decoration: blue;
    transition: all 100ms;
    text-align: center ;
}
a:hover{
    color: slategrey;
}
p{
    font-size: x-large;
}
